extends layout

block content
  h1= title
  p Enter a url to have it shortened.
  form(method="post" action="/api/shorturl/new")
    .input 
      span.label URL 
      input(type="text" name="url")
    div.actions 
      input(type="submit" value="Submit") 

